*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    display: inline-flex;
    gap: 8px;
    font-size: 10px;
    text-decoration: none;
    color: whitesmoke;
    border-style: solid;
    border-radius: 5%;
    border-width: 2px;
    width: 55px;
    height: 28px;
}
.seta-en{
    width: 10px;
}
ul,ol,li{
    list-style: none;
}

body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 50px 665px 0px;
    background-color:#fc0956;
}

header{
    width: 100vw;  
    color:whitesmoke;
    font-family: 'Inika', serif;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
}

.slogan{
    background-color: white;
    width: 125px;
    height: 15px;
    transform: translate(-850px, 40px);
}
.slogan h2{
    font-size: 15px;
    color: #fc0956;
   transform: translateY(-4px);
}

.menu{
    display: inline-flex;
    gap: 36px;
    font-size: 12px;
    position: relative;
    left: 600px;
    cursor: pointer;
}
.menu h2{
    margin-left: 10px;
}

.redes a{
    display: inline-flex;
    position: relative;
    border-style: none;
    width: 30px;
    transform: translate(370px, 45px);
}

.sorvete img{
    position: relative;
    z-index: -1;
    transform: translate(310px, 2px);
    width: 940px;
    height: 667px;
}
.sorvete span{
    position: absolute;
    font-size: 150px;
    transform: translate(-570px, 340px);
    color: whitesmoke;
    font-family: 'Lora', serif;
    font-weight: bold;
}
.curva-cima{
    position: absolute;
    transform: translate(895px, -380px);
    width: 20px;
    height: 50px;
}
.curva-baixo{
    position: absolute;
    transform: translate(920px, -245px);
    width: 30px;
    height: 50px;
}
.yummy{
    position: absolute;
    color: whitesmoke;
    font-size: 30px;
    font-family: 'Khand', sans-serif;
    transform: translate(470px,-65px);
}
.seta-left{
    position: absolute;
    transform: translate(50px,-400px);
    width: 60px;
}
.seta-right{
    position: absolute;
    transform: translate(1380px,-400px);
    width: 50px;
}
.nav{
    height: 100%;
    width: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    gap: 3rem;
    transform: translate(1460px, -480px);
}
.pagina1{
    background-color:black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
.line1{
    background-color: whitesmoke;
    height: 30px;
    width: 2px;
    place-self: center;
}
.pagina2{
    background-color:whitesmoke;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
.line2{
    background-color: whitesmoke;
    height: 30px;
    width: 2px;
    place-self: center;
}
.pagina3{
    background-color:#fc0956;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border-style: solid;
    border-color: whitesmoke;
}
.seta-baixo{
    position: absolute;
    transform: translate(705px, -90px);
    width: 30px;
}

.down{
    border-style: none;
}
.setas-left-right{
    border-style: none;
}
.menu-click{
    border-style: none;
}


@media (max-width: 375px){
    body{
        width: 100vw;
        height: 100vh;
    }
    .menu{
        display: none;
    }
    header{
        height: 300px;
        width: 100vw;
    }
    
    .logo img{
        width: 500px;
        height: 190px;
        display: flex;
        cursor:pointer;
    }
    .retangulo1{
        width: 130px;
        height: 15px;
        border-radius: 10px;
        background-color: whitesmoke;
    }
    .retangulo2{
        width: 130px;
        height: 15px;
        border-radius: 10px;
        background-color: whitesmoke;
    }
    .retangulo3{
        width: 130px;
        height: 15px;
        border-radius: 10px;
        background-color: whitesmoke;
    }
    .hamburguer{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        width: 200px;
        height: 200px;
        transform: translate(900px, 95px);
    }
    .redes{
        display: flex;
        gap: 80px;
    }
    .redes a{
        display: flex;
        flex-direction: row;
        border-style: none;
        width: 100px;
        height: 130px;
        transform: translate(-220px, 1775px);
    }
    .sorvete img{
        position: relative;
        z-index: -1;
        transform: translate(-210px, 200px);
        width: 1600px;
        height: 1300px;
    }
    .sorvete span{
        font-size: 180px;
        transform: translate(-1505px, 1075px);
    }
    .curva-cima{
      transform: translate(705px, -320px);
    }
    .curva-cima img{
        width: 150px;
    }
    .curva-baixo{
        transform: translate(670px, -180px);
    }
    .curva-baixo img{
        width: 250px;
    }
    .yummy{
        transform: translate(330px, -5px);
        font-size: 6rem;
    }
    .seta-left{
        position: absolute;
        transform: translate(100px,-400px);
        width: 125px;
    }
    .seta-right{
        position: absolute;
        transform: translate(970px,-400px);
        width: 100px;
    }
    .seta-baixo{
        display: none;
    }
    .nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 200px;
        width: 500px;
        transform: translate(430px, 250px);
    }
    .pagina1{
        width: 45px;
        height: 45px;
    }
    .pagina2{
        width: 45px;
        height: 45px;
    }
    .pagina3{
        width: 45px;
        height: 45px;
    }
    .line1{
        transform: rotate(90deg);
        width: 8px;
        height: 80px;
    }
    .line2{
        transform: rotate(90deg);
        width: 8px;
        height: 80px;
    }
}