*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    display: inline-flex;
    gap: 8px;
    font-size: 10px;
    text-decoration: none;
    color: whitesmoke;
    border-style: solid;
    border-radius: 5%;
    border-width: 2px;
    width: 55px;
    height: 28px;
}
.seta-en{
    width: 10px;
}
ul,ol,li{
    list-style: none;
}

body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 50px 665px 0px;
    background-color:#fc0956;
}

header{
    width: 100vw;  
    color:whitesmoke;
    font-family: 'Inika', serif;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
}

.slogan{
    background-color: white;
    width: 125px;
    height: 15px;
    transform: translate(-850px, 40px);
}
.slogan h2{
    font-size: 15px;
    color: #fc0956;
   transform: translateY(-4px);
}

.menu{
    display: inline-flex;
    gap: 36px;
    font-size: 12px;
    position: relative;
    left: 630px;
}
.menu h2{
    margin-left: 10px;
}

.indicador_seta{
    width: 90px;
    height: 90px;
    transform: translate(150px, -45px);
    transform: rotate(135deg);
}

.twt{
    border-style: none;
    transform: translate(400px, 45px);
    width: 30px;
}
.face{
    border-style: none;
    transform: translate(320px, 45px);
    width: 30px;
}
.insta{
    border-style: none;
    transform: translate(380px, 45px);
    width: 30px;
}

.sorvete img{
    position: relative;
    z-index: -1;
    transform: translate(310px, 2px);
    width: 940px;
    height: 667px;
}
.sorvete span{
    position: absolute;
    font-size: 150px;
    transform: translate(-570px, 340px);
    color: whitesmoke;
    font-family: 'Lora', serif;
    font-weight: bold;
}
.curva-cima{
    position: absolute;
    transform: translate(895px, -380px);
    width: 20px;
    height: 50px;
}
.curva-baixo{
    position: absolute;
    transform: translate(920px, -245px);
    width: 30px;
    height: 50px;
}
.yummy{
    position: absolute;
    color: whitesmoke;
    font-size: 30px;
    font-family: 'Khand', sans-serif;
    transform: translate(470px,-65px);
}
.seta-left{
    position: absolute;
    transform: translate(50px,-400px);
    width: 60px;
}
.seta-right{
    position: absolute;
    transform: translate(1430px,-400px);
    width: 50px;
}
.nav{
    height: 100%px;
    width: 15px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    transform: translate(1500px, -480px);
}
.pagina1{
    background-color:black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
.line1{
    background-color: whitesmoke;
    height: 30px;
    width: 2px;
    place-self: center;
}
.pagina2{
    background-color:whitesmoke;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
.line2{
    background-color: whitesmoke;
    height: 30px;
    width: 2px;
    place-self: center;
}
.pagina3{
    background-color:#fc0956;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border-style: solid;
    border-color: whitesmoke;
}
.seta-baixo{
    position: absolute;
    transform: translate(705px, -90px);
    width: 30px;
}

.down{
    border-style: none;
}
.setas-left-right{
    border-style: none;
}
.menu-click{
    border-style: none;
}


@media (max-width: 375px){
    .menu{
        display: none;
    }
    .redes{ 
        transform: translateX(-550px);
    }
    .twt{
        transform: translate(370px, 65px);
    }
    .face{
        transform: translate(320px,32px);
    }
    .insta{
        transform: translate(420px, -1px);
    }
    .sorvete img{
        position: relative;
        z-index: -1;
        transform: translate(-190px, 300px);
        width: 1600px;
        height: 1300px;
    }
    .sorvete span{
        font-size: 180px;
        transform: translate(-1495px, 1175px);
    }
    .curva-cima{
      transform: translate(725px, -250px);
    }
    .curva-cima img{
        width: 150px;
    }
    .curva-baixo{
        transform: translate(680px, -80px);
    }
    .curva-baixo img{
        width: 250px;
    }
    .yummy{
        transform: translate(330px, 50px);
        font-size: 6rem;
    }
    .seta-left{
        position: absolute;
        transform: translate(50px,-400px);
        width: 140px;
    }
    .seta-right{
        position: absolute;
        transform: translate(1020px,-380px);
        width: 100px;
    }
    .nav{
        transform: rotate(-90deg), translate(900px);
    }
    
}



