*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    display: inline-flex;
    gap: 8px;
    font-size: 10px;
    text-decoration: none;
    color: whitesmoke;
    border-style: solid;
    border-radius: 5%;
    border-width: 2px;
    width: 55px;
    height: 28px;
}
.seta-en{
    width: 10px;
}
ul,ol,li{
    list-style: none;
}

body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 50px 665px 0px;
    background-color:#fc0956;
}

header{
    width: 100vw;  
    color:whitesmoke;
    font-family: 'Inika', serif;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
}

.slogan{
    background-color: white;
    width: 125px;
    height: 15px;
    transform: translate(-850px, 40px);
}
.slogan h2{
    font-size: 15px;
    color: #fc0956;
   transform: translateY(-4px);
}

.slogan:hover{
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
}

.menu{
    display: inline-flex;
    gap: 36px;
    font-size: 12px;
    position: relative;
    left: 600px;
    cursor: pointer;
}
.menu h2{
    margin-left: 10px;
}

.menu h2:hover{
    color: black;
    transition: 0.5s;
}

.redes a{
    display: inline-flex;
    position: relative;
    border-style: none;
    width: 30px;
    transform: translate(370px, 45px);
}

.sorvete img{
    position: relative;
    z-index: -1;
    transform: translate(310px, 2px);
    width: 940px;
    height: 667px;
}
.sorvete span{
    position: absolute;
    font-size: 150px;
    transform: translate(-570px, 340px);
    color: whitesmoke;
    font-family: 'Lora', serif;
    font-weight: bold;
}
.curva-cima{
    position: absolute;
    transform: translate(895px, -380px);
    width: 20px;
    height: 50px;
}
.curva-baixo{
    position: absolute;
    transform: translate(920px, -245px);
    width: 30px;
    height: 50px;
}
.yummy{
    position: absolute;
    color: whitesmoke;
    font-size: 30px;
    font-family: 'Khand', sans-serif;
    transform: translate(470px,-60px);
}
.seta-left{
    position: absolute;
    transform: translate(50px,-400px);
    width: 60px;
}
.seta-right{
    position: absolute;
    transform: translate(1380px,-400px);
    width: 50px;
}
.nav{
    height: 100%;
    width: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    gap: .5rem;
    transform: translate(1460px, -480px);
}
.pagina1{
    background-color:black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
.line1{
    background-color: whitesmoke;
    height: 30px;
    width: 2px;
    place-self: center;
}
.pagina2{
    background-color:whitesmoke;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
.line2{
    background-color: whitesmoke;
    height: 30px;
    width: 2px;
    place-self: center;
}
.pagina3{
    background-color:#fc0956;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border-style: solid;
    border-color: whitesmoke;
}
.seta-baixo{
    position: absolute;
    transform: translate(705px, -90px);
    width: 30px;
}

.down{
    border-style: none;
}
.setas-left-right{
    border-style: none;
}
.menu-click{
    border-style: none;
}

@media(max-width: 768px){
    body{
        padding: 0px 16px;
        width: 100vw;
        height: 100vh;
        grid-template-rows: 100px 1fr 100px;
    }
    header{
        height: 150px;
        width: 1500px;
    }
    .logo img{
        display: flex;
        margin-left: 0px;
        width: 130px;
        transform: translate(-5px, -10px);
    }
    .slogan{
        width: 140px;
        height: 15px;
        transform: translate(-1000px, 50px);
        text-align: center;
    }
    .slogan h2{
        font-size: 20px;
        font-weight: bold;
    }

    .menu{
        display: inline-flex;
        position: relative;
        font-size: 9px;
        left: 0px;
        gap: 2px;
    }
    .menu a{
        margin-left: 7px;
        font-size: 9px;
        border-width: .8px;
    }
    .redes{
        display: flex;
    }
    .redes a{
        display: inline-flex;
        height: 25px;
        width: 30px;
        transform: translate(-230px, 40px);
    }

    .sorvete img{
        width: 850px;
        height: 750px;
        transform: translate(-125px, 10px);
    }
    .sorvete span{
        font-size: 95px;
        transform: translate(-835px, 400px);
    }
    .curva-cima img{
        width:90px;
        transform: translate(-555px, -50px);
    }
    .curva-baixo img{
        width: 120px;
        transform: translate(-560px, -95px);
    }
    .yummy{
        font-size: 40px;
        transform: translate(180px, -110px);
    }
    .seta-right{
        width: 50px;
        transform: translate(500px, -440px);
    }
    .seta-left{
        width: 60px;
        transform: translate(-5px, -440px);
    }
    .down{
        transform: translate(-480px, -35px);
    }
    .nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 200px;
        width: 500px;
        gap: 3rem;
        transform: translate(410px, 95px);
    }
    .pagina1{
        width: 45px;
        height: 45px;
    }
    .pagina2{
        width: 45px;
        height: 45px;
    }
    .pagina3{
        width: 45px;
        height: 45px;
    }
    .line1{
         transform: rotate(90deg);
         width: 8px;
         height: 80px;
    }
    .line2{
         transform: rotate(90deg);
         width: 8px;
         height: 80px;
     }
     .nav{
         display: none;
     }
}

@media (max-width: 375px){
    body{
        width: 100vw;
        height: 100vh;
    }
    .menu{
        display: none;
    }
    header{
        height: 300px;
        width: 100vw;
    }
    
    .logo img{
        width: 170px;
        height: 60px;
        display: flex;
        cursor:pointer;
    }
    .retangulo1{
        width: 70px;
        height: 8px;
        border-radius: 10px;
        background-color: whitesmoke;
    }
    .retangulo2{
        width: 70px;
        height: 8px;
        border-radius: 10px;
        background-color: whitesmoke;
    }
    .retangulo3{
        width: 70px;
        height: 8px;
        border-radius: 10px;
        background-color: whitesmoke;
    }
    .hamburguer{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        width: 70px;
        height: 70px;
        cursor: pointer;
        transform: translate(450px, 25px);
    }
    .redes{
        display: flex;
        gap: 25px;
    }
    .redes a{
        display: flex;
        flex-direction: row;
        border-style: none;
        width: 55px;
        height: 55px;
        transform: translate(-90px, 895px);
    }
    .sorvete img{
        position: relative;
        z-index: -1;
        transform: translate(-220px, 30px);
        width: 1000px;
        height: 800px;
    }
    .sorvete span{
        font-size: 100px;
        transform: translate(-1005px, 535px);
    }
    .curva-cima{
      transform: translate(895px, -290px);
    }
    .curva-cima img{
        width: 100px;
    }
    .curva-baixo{
        transform: translate(900px, -180px);
    }
    .curva-baixo img{
        width: 150px;
    }
    .yummy{
        transform: translate(180px, -65px);
        font-size: 2.5rem;
    }
    .seta-left{
        position: absolute;
        transform: translate(20px,-380px);
        width: 95px;
    }
    .seta-right{
        position: absolute;
        transform: translate(440px,-380px);
        width: 75px;
    }
    .seta-baixo{
        display: none;
    }
    .nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100px;
        width: 500px;
        gap: 2.5rem;
        transform: translate(155px, -15px);
    }
    .pagina1{
        width: 30px;
        height: 30px;
    }
    .pagina2{
        width: 30px;
        height: 30px;
    }
    .pagina3{
        width: 30px;
        height: 30px;
    }
    .line1{
        transform: rotate(90deg);
        width: 5px;
        height: 60px;
    }
    .line2{
        transform: rotate(90deg);
        width: 5px;
        height: 60px;
    }
}